.empty-cart,
.page-loading {
    font-weight: 500;
    font-size: 1.8rem;
    width: 83vw;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.list-item__header {
    font-family: var(--f-sansita);
    font-weight: 100;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    line-height: 130%;
    color: var(--c-pink);
    user-select: none;
}

.order-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;
    list-style-type: none;
}

.list-item__sub-header {
    font-size: 1.2rem;
    color: var(--c-blue-green);
    padding-top: .5rem;
}

.list-item__price {
    padding-top: .5rem;
    color: var(--c-white-t08);
    text-align: end;
    font-weight: 500;
}

.total-amount-announcer {
    font-size: 1.5rem;
    color: var(--c-pink);
    padding-top: 1rem;
}

.total-amount {
    font-size: 1.8rem;
    color: var(--c-white-t08);
    padding-bottom: 1rem;
    font-weight: 500;
}