.counter-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 2px var(--c-pink);
    color: var(--c-white);
    background: var(--c-purple-t8);
    padding-top: .5rem;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}

.content {
    padding: 0 1rem;
}

.content h2 {
    font-size: 2rem;
    text-shadow: 2px 2px 2px var(--c-pink);
    text-align: center;
}