.counter-wrapper {
    display: flex;
    color: var(--c-white);
    border-top: solid 1px var(--c-pink);
    width: 100%;
    justify-content: space-between;
}

.counter-button {
    background: transparent;
    color: var(--c-white);
    border: none;
    width: 25%;
    padding: .5rem 0;
}

.counter-button:first-child {
    border-right: solid 1px var(--c-pink);
}

.counter-button:last-child {
    border-left: solid 1px var(--c-pink);
}

.counter-icon {
    width: 40%;
}

.counter-number {
    padding: .5rem 0;
    flex-grow: 2;
    text-align: center;
    font-size: 2rem;
}