.page-sub-header {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    padding: 0 2rem;
    color: var(--c-white-t07);
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.event-information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;

}

.event-poster {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;

}

.event-information__name {
    font-family: var(--f-sansita);
    font-weight: 100;
    letter-spacing: .1rem;
    font-size: 2.4rem;
    color: var(--c-pink);
    text-align: center;
    user-select: none;
}

.event-information__date-and-time {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    color: var(--c-pink);
    padding: 1rem;
    background: var(--c-purple-t08);
    border-radius: 5px;
}

.event-information__location {
    font-size: 1.2rem;
    color: var(--c-white-t07);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--c-white);
}