.search-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    background: var(--c-white-t01);
    border-radius: 3px;
    display: flex;
    width: 100%;

}

.search-button {
    border: none;
    color: none;
    background: transparent;
}

.filter-icon {
    padding: 0 .5rem;
    transition: color .2s;
}

.filter-icon--active {
    color: var(--c-pink);
}

.filter-icon--inactive {
    color: var(--c-white-t02);
}

.search-field {
    background: transparent;
    border: none;
    font-size: 1.6rem;
    padding: .5rem;
    color: var(--c-white);
    width: 100%;
}

.filter-search {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: repeat(4, 1.6rem);
    justify-content: center;
    overflow: hidden;
    background: var(--c-white-t01);
    border-top: solid 2px transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all .15s ease-in-out;
}

.filter-search--active-with-city,
.filter-search--active {
    padding: .5rem 0;
    border-color: var(--c-white-t02);
}

.filter-search--inactive {
    height: 0;
}

.filter-search--active {
    height: 5.5rem;
}

.filter-search--active-with-city {
    height: 9rem;
}

.radio-buttons {
    border: none;
    grid-column: span 2;
    grid-row: span 3;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 1.6rem);

}

legend,
.span-2 {
    grid-column: span 2;
    text-align: center;
}

label {
    text-align: center;
}

legend {
    padding-bottom: .5rem;
}


input[type='radio'] {
    max-height: 1rem;
}