.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    gap: 1rem;
    min-height: 50vh;
}

.error-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 2px var(--c-pink);
    color: var(--c-white);
    background: var(--c-purple-t08);
    padding-top: 1rem;
    border-radius: 5px;
    min-width: 60vw;
}

.error-paragraph {
    font-size: 1.2rem;
    color: var(--c-white);
    text-align: center;
}